{% extends 'polls/base.html' %}
{% load static %}

{% block content %}
    <h1>Главная страница</h1>

    {% if user.is_authenticated %}
        <p>Привет, {{ user.get_full_name }}! <a href="{% url 'polls:logout' %}">Выйти</a></p>
        <a href="{% url 'polls:profile' user.id %}">Просмотр/редактирование профиля</a>
        <a href="{% url 'polls:delete_profile' %}">Удалить профиль</a>
    {% endif %}

    <h2>Список вопросов</h2>
    <ul>
        {% for question in questions %}
          <li><a href="{% url 'polls:detail' question.id %}">{{ question.title }}</a></li>
        {% endfor %}
    </ul>

    <a href="{% url 'polls:create_question' %}">Создать новый вопрос</a>

{% endblock %}