<!DOCTYPE html>
<html>
<head>
    <title>Удалить профиль</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% load static %}
</head>
<body>
    <h1>Вы уверены, что хотите удалить свой профиль?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
        <a href="{% url 'polls:profile' %}">Отменить</a>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>