<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Вход</h1>
    <form method="post" action="{% url 'polls:login' %}">  {# action=url 'polls:login' : Отправляет форму на URL входа.#}
        {% csrf_token %}  {# Защита от CSRF #}
        {{ form.as_p }}  {# Выводим поля формы #}
        <button type="submit">Войти</button>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>