<!DOCTYPE html>
<html>
<head>
    <title>Профиль</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Профиль</h1>

     {% if profile %}  {# Проверка существования профиля #}
        {% if profile.avatar %}  {# Если есть аватар, то выводим его #}
            <img src="{{ profile.avatar.url }}" alt="Аватар" width="200">
        {% else %}  {# Если нет, то выводим дефолтный аватар #}
            <img src="{% static 'images/default_avatar.jpg' %}" alt="Default Аватар" width="200">
        {% endif %}

        <p>Name: {{ profile.user.get_full_name }}</p>
        <p>Email: {{ profile.user.email }}</p>
        <p>Bio: {{ profile.bio }}</p>
        <p>Phone: {{ profile.phone_number }}</p>

        <form method="post" enctype="multipart/form-data" action="{% url 'polls:edit_profile' %}">  {# enctype="multipart/form-data": Для загрузки аватара. #}
            {% csrf_token %}  {# Защита от CSRF #}
            {{ form.as_p }}  {# Выводим поля формы #}
            <button type="submit">Сохранить изменения</button>
        </form>

        <form method="post" action="{% url 'polls:delete_profile' %}">
            {% csrf_token %}
            <button type="submit">Удалить профиль</button>
        </form>
    {% else %}
        <p>Profile not found.</p> {#Handle case where profile doesn't exist#}
    {% endif %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>